.footer-section-view{
    width: 100%;
}
.dribbble-data{
    width: 25%;
    margin-left: 20px;
}
.footer-main-section{
    width: 22%;
}
.footer-list-design ul{
 line-height: 2;
 font-size: large;
}
.dribble-leading-community{
    font-size: large;
}
.header-navbar{
    background-color: white;
}
.work-details{
    width: 100%;
    /* height: 450px; */
}
.hire-work-data{
    width: 30%;
    border: 1px solid #ebe1e1;
    border-radius: 10px;
    margin: 20px;
}